@import "tailwindcss";

.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-caviro), #4f7c2f);

  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@theme {
  --color-caviro: #233d00; /* Dark green (brand) */
  --color-caviro-soft: #6b8e23; /* Olive accent */
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
body {
  @apply bg-white text-gray-800;
}
.input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 12px 14px;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
}

.input:focus {
  border-color: var(--color-caviro);
}
/* SUCCESS TOAST */

.toast-success {
  position: fixed;
  top: 90px;
  right: 24px;
  background: #233d00;
  color: white;
  padding: 14px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  animation: slideIn 0.4s ease;
  z-index: 999;
}

@keyframes slideIn {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* IMAGE UPLOAD */

.image-upload-box {
  border: 2px dashed #d1d5db;
  padding: 24px;
  border-radius: 14px;
  text-align: center;
  cursor: pointer;
  color: #6b7280;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease;
}

.image-upload-box:hover {
  border-color: var(--color-caviro);
  color: var(--color-caviro);
}
.admin-label {
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
}

.admin-input-simple {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  outline: none;
}

.admin-input-simple:focus {
  border-color: darkgreen;
}

.admin-submit-btn {
  width: 100%;
  background:darkgreen;
  color: white;
  padding: 14px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
}
