@import "tailwindcss";

.nav-link {
  position: relative;
  padding-bottom: 4px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-caviro), #4f7c2f);

  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

@theme {
  --color-caviro: #233d00; /* Dark green (brand) */
  --color-caviro-soft: #6b8e23; /* Olive accent */
}
@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
body {
  @apply bg-white text-gray-800;
}